iframe {
  border: none;
  margin: none;
}
body {
  background-color: rgb(255, 255, 255);
  padding: 30px 40px 10px 0px;
  font-family: "docs-Roboto", Helvetica, Arial, sans-serif;
}
input {
  border: 1px solid #dadce0;
  border-radius: 5px;
}
button {
  font-size: 12px;
  background-color: #fafafa;
  border: 1px solid #dadce0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
embed {
  border-radius: 9px;
}
.conteudototal {
  display: flex;
  flex-direction: row;
}
.coluna1 {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.coluna2 {
  width: 52%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 11px 0px 0px 0px;
}
.cabeca {
  border-left: 1px solid #dadce0;
  border-right: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
  margin: 0px 0px 15px 0px;
  width: 100%;
  height: auto;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.cabeca1 {
  height: 8px;
  width: 100%;
  background-color: rgb(103, 58, 183);
  border: 1px solid rgb(103, 58, 183);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.titulo {
  height: 70px;
  border-bottom: 1px solid #dadce0;
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 0px 20px;
}
.preview_relatorio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
}
.questaons {
  padding: 10px 20px;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
.input_botao {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
